body {
    /*padding-top: 3.5rem;*/
    /*margin-bottom: 3.5rem;*/
   }
   
   
   html {
    position: relative;
    min-height: 100%;
   
   }
   
   main{
     text-align: center;
     background-color: white;
     
    margin-top: 50px; /* Add a top margin to avoid content overlay */
    
   }

   .browser {
    background: white;
  }

  .col-center{
    margin:0 auto;
  }

  img {
    width: 10%;
  }

  .form-inline {
    width: fit-content;
    align-self: flex-end;
  }

  form {
    /* Just to center the form on the page */
    margin: 0 auto;
    text-align: center;
    /*display:flex;*/
    display: contents;
    /* To see the limits of the form */
    padding: 1em;
    border: 1px solid rgb(29, 159, 44);
    border-radius: 1em;
  }

  input {  
  width: 100%;
  border: 2px solid blue;
  border-radius: 4px;
  word-wrap: break-word;
  word-break: break-all;
}

.main_btn { 
  margin-top: 20px;
}

.about {
  max-width: 10%;
  height: auto;
}
   
  .container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

header {
  /*position:fixed;*/
  /*overflow-y: auto;*/
}

button {
  background-color: #141414f2;
  border: none;
  border-radius: 5px;

  min-width: 30px;
  color: #ffffff;
  
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size:small;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.center-block {

}
   
   .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #34363b;
   }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
}